h1 {
  text-align: center;
  font-size: large;
  color: black; 
}
table{
  text-align: center;
  position: absolute;
  margin-left: 40%;
  width: 20%;
  height: 200px;
}
input[type="button"]{
  border-radius: 5px;
  background-color:rgb(232, 232, 240);
  color: black;
  border-color:black; 
  width:100%;
  height: 100%;
  font-size: 2rem;
}
input[type="text"]{
  border-radius: 10px;
  text-align: right;
  background-color:rgb(232, 232, 240);
  color: black;
  width:100%;
  height: 100%;
}